@charset "UTF-8";
*{
	box-sizing : border-box;
}
html, body{
		width : 100%;
		margin : 0;
		padding : 0;
}
header{
	text-align : center;
	height : 100px;
	width : 100%;
}
nav{
	width : 100%;
	background-color : black;
	display : flex;
}
nav ul{
	list-style-type : none;
	margin : 0;
	padding : 0;
	overflow : hidden;
}
nav ul li{
	float : left;
}
nav ul li a, .dd-1{
	display : inline-block;
	color : white;
	text-align : center;
	padding : 15px 16px;
	text-decoration : none;
}
nav ul li a:hover, .dd:hover .dd-1{
	background-color : red;
} 
.dd{
	display : inline-block;
}
.dd-content{
	display : none;
	position : absolute;
	background-color : white;
	min-width : 160px;
	margin-top : 0;
	z-index : 1;
}
.dd-content a{
	color : black;
	padding : 12px 16px;
	text-decoration : none;
	display : block;
	text-align : left;	
}
.dd-content a:hover{
	background-color : pink;
}
.dd:hover .dd-content{
	display : block;
}
footer{
	height : 100px;
	display : flex;
	justify-content : center;
	align-items : center;
	color : white;
	background-color : black;
}